chr000 RCDATA "basepals\\chr000.png"
chr001 RCDATA "basepals\\chr001.png"
chr002 RCDATA "basepals\\chr002.png"
chr003 RCDATA "basepals\\chr003.png"
chr004 RCDATA "basepals\\chr004.png"
chr005 RCDATA "basepals\\chr005.png"
chr006 RCDATA "basepals\\chr006.png"
chr007 RCDATA "basepals\\chr007.png"
chr008 RCDATA "basepals\\chr008.png"
chr009 RCDATA "basepals\\chr009.png"
chr010 RCDATA "basepals\\chr010.png"
chr011 RCDATA "basepals\\chr011.png"
chr012 RCDATA "basepals\\chr012.png"
chr013 RCDATA "basepals\\chr013.png"
chr014 RCDATA "basepals\\chr014.png"
chr015 RCDATA "basepals\\chr015.png"
chr016 RCDATA "basepals\\chr016.png"
chr017 RCDATA "basepals\\chr017.png"
chr018 RCDATA "basepals\\chr018.png"
chr019 RCDATA "basepals\\chr019.png"
chr020 RCDATA "basepals\\chr020.png"
chr021 RCDATA "basepals\\chr021.png"
chr022 RCDATA "basepals\\chr022.png"
chr023 RCDATA "basepals\\chr023.png"
chr024 RCDATA "basepals\\chr024.png"
chr025 RCDATA "basepals\\chr025.png"
chr026 RCDATA "basepals\\chr026.png"
