"01_passthrough.hlsl" SHADEREXAMPLE "shaders\\examples\\01_passthrough.hlsl"
"02_grayscale.hlsl" SHADEREXAMPLE "shaders\\examples\\02_grayscale.hlsl"
"03_sepia.hlsl" SHADEREXAMPLE "shaders\\examples\\03_sepia.hlsl"
"04_invert.hlsl" SHADEREXAMPLE "shaders\\examples\\04_invert.hlsl"
"05_posterize.hlsl" SHADEREXAMPLE "shaders\\examples\\05_posterize.hlsl"
"06_pixelate.hlsl" SHADEREXAMPLE "shaders\\examples\\06_pixelate.hlsl"
"07_chromatic.hlsl" SHADEREXAMPLE "shaders\\examples\\07_chromatic.hlsl"
"08_film_grain.hlsl" SHADEREXAMPLE "shaders\\examples\\08_film_grain.hlsl"
"09_vhs.hlsl" SHADEREXAMPLE "shaders\\examples\\09_vhs.hlsl"
"10_lcd_grid.hlsl" SHADEREXAMPLE "shaders\\examples\\10_lcd_grid.hlsl"
"11_outline.hlsl" SHADEREXAMPLE "shaders\\examples\\11_outline.hlsl"
"12_crt.hlsl" SHADEREXAMPLE "shaders\\examples\\12_crt.hlsl"
"16_bleach_bypass.ps" SHADEREXAMPLE "shaders\\examples\\16_bleach_bypass.ps"
"13_reshade_tonemap.fx" SHADEREXAMPLE "shaders\\examples\\13_reshade_tonemap.fx"
"14_slang_scanlines.slang" SHADEREXAMPLE "shaders\\examples\\14_slang_scanlines.slang"
"15_shadertoy_ripple.glsl" SHADEREXAMPLE "shaders\\examples\\15_shadertoy_ripple.glsl"
"17_dot_matrix.frag" SHADEREXAMPLE "shaders\\examples\\17_dot_matrix.frag"
"18_bloom_glow.fsh" SHADEREXAMPLE "shaders\\examples\\18_bloom_glow.fsh"
